In [2]:
import pandas as pd

import os

In [3]:
getPath = os.getcwd()
getPath

'C:\\Users\\mantiwar\\Desktop\\Pythan-Prac\\Panda Library'

In [14]:
# read csv

csv = pd.read_csv(getPath+"\\nba.csv")
few = csv.head(10)

few

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [17]:
pd.crosstab(few.Name, few.Position, margins=True)

Position       C  PF  PG  SF  SG  All
Name
Amir Johnson   0   1   0   0   0    1
Avery Bradley  0   0   1   0   0    1
Jae Crowder    0   0   0   1   0    1
John Holland   0   0   0   0   1    1
Jonas Jerebko  0   1   0   0   0    1
Jordan Mickey  0   1   0   0   0    1
Kelly Olynyk   1   0   0   0   0    1
Marcus Smart   0   0   1   0   0    1
R.J. Hunter    0   0   0   0   1    1
Terry Rozier   0   0   1   0   0    1
All            1   3   3   1   2   10